#blog-header {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 1.5rem;
}

#posts {
	font-size: clamp(0.5rem, 4vw, 1rem);
    padding: 2rem 0;
}

.blog {
	display:flex;
}

#posts {
	flex: 10%;
}

h1 {
    color: #37bbe4;
}