#blog-header {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 1.5rem;
}

#posts {
	font-size: clamp(0.5rem, 4vw, 1rem);
    padding: 2rem 0;
}

.blog {
	display:flex;
}

#posts {
	flex: 10%;
}

h1 {
    color: #37bbe4;
}

#blog-content {
    width: 900px;
    display: block;
    word-wrap: break-word;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.5em;
}

pre {
    background-color: #dadada;
    border-radius: 0.3rem;
    padding: 0.3rem 0.4rem 0.3rem 0.4rem;
    margin-left: -0.3rem;
    margin-right: -0.3rem;
    font-family: "Office Code Pro", "Source Code Pro", monospace;
}
