#site-header {
    position: absolute;
    bottom: 8%;
    left: 5%;
}

a {
    font-size: clamp(0.75rem, 4vw, 2.6rem);
    padding-right: 1vw;
}

h1 {
    font-size: clamp(1.70rem, 8.75vw, 5rem);
    margin-bottom: 4%;
    margin-left: -0.5vw;
}
