* {
    box-sizing: border-box;
}

h1,h2 {
    color: #404045;
    font-family: "Questrial", "Arial", serif;
    font-weight: 700;
    line-height: 1;
    margin-top: 0;
    text-rendering: geometricPrecision;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.0em;
}


a {
    color: #35342F;
    text-decoration: none;
    text-rendering: geometricPrecision;
    line-height: inherit;
    outline: 0;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

a:hover {
    color: #616260;
}

p a,
p a:visited {
    line-height: inherit;
}

html {
    margin: 0;
    padding-top: 1em;
    font-family: "Questrial", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2.5rem;
    line-height: 1.65;
    font-weight: normal;
    overflow-y: hidden;
    min-height: 100%;
}

body {
    background-color: #E1E0DD;
    background-image: url("../image/background.png");
    width: 100%;
    margin: 0; 
    padding: 0
}

#blog-content {
    width: 1000px;
    display: flex;
    word-wrap: break-word;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.5em;
    font-family: "Office Code Pro", "Source Code Pro", monospace;
}