* {
  box-sizing: border-box;
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 0.495em;
    font-family: "Lato", "Arial", serif;
    font-weight: 700;
    line-height: 1;
    margin-top: 0;
    text-rendering: geometricPrecision;
}

a {
    color: #35342F;
    text-decoration: none;
    text-rendering: geometricPrecision;
    line-height: inherit;
    padding-left: 0.2rem;
    padding-right: 0.15rem;
    outline: 0;
    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
    transition-delay: 0;
}

a:hover {
    color: #F1F2F0;
}

p a,
p a:visited {
    line-height: inherit;
}

html {
    margin: 0;
    padding-top: 1rem;
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2.5rem;
    line-height: 1.65;
    font-weight: normal;
    overflow-y: hidden;
    min-height: 100%;
}

body {
    background-color: #E1E0DD;
    background-image: url("../image/background.png");
    width: 100%;
    word-wrap: break-word;
    margin: 0; 
    padding: 0
}