<header id="site-header">
    <div class="container">
        <h1 class="blog-title heading">{{ .Site.Title }}</h1>
        <p class="blog-description">{{ .Site.Params.description }}</p>
        <div align="center">
            <nav>
                <a href="{{ .Site.BaseURL }}">Blog</a>
                <a href="{{ .Site.BaseURL }}/CV.pdf">CV</a>
                <a href="mailto:hunter@werlla.com">Mail</a>
                <a href="https://github.com/hunterwerlla">Github</a>
            </nav>
        </div>
    </div>
</header>